<form #registerForm="ngForm" (ngSubmit)="register()"> 
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
  
    <div class="form-group">
      <input type="text" required name="username" class="form-control" [(ngModel)]="model.username" placeholder="Username">
    </div>

    <div class="form">
      <label for="favouriteUser">What is your favourite user?</label>
      <select class="form-control" id="favouriteUser">
        <option *ngFor="let user of usersFromHome" [value]="user.id">{{user.username}}</option>
      </select>
    </div>
  
    <div class="form-group">
      <input type="password" required name="password" class="form-control" [(ngModel)]="model.password" placeholder="Password">
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>